<div class="modal-wrapper">
  <div class="modal-box">
    <!-- Header -->
    <div class="modal-top">
      <div class="title">Stream flow gages were found</div>
      <div class="close-modal" (click)="activeModal.dismiss()">
        <i class="far fa-times"></i>
      </div>
    </div>
    <!-- Main content -->
    <div class="modal-middle">

      <div *ngFor="let data of gagesArray; index as i">
        <ngb-accordion #acc="ngbAccordion"  type="light" class="gage-modal-list">
          <ngb-panel title="{{data.name}} ({{data.status}})" id="ngb-panel-{{i}}"> <!--[ngStyle]="{'background-color':data.status === 'Active' ? 'green' : 'black' }"-->
            <ng-template ngbPanelContent>
				<div class="gage-list-body">
					<div><span>Source:</span><b>{{data.source}}</b></div>
					<div><span>Identifier:</span><b>{{data.identifier}}</b></div>
					<div><span>Name:</span><b>{{data.name}}</b></div>
					<div><span>Comid:</span><b>{{data.comid}}</b></div>
					<div><span>Navigation url:</span><b><a href="{{data.navigation}}" target="_blank">{{data.navigation}}</a></b></div>
					<div><span>Nwis url:</span><b><a href="{{data.uri}}" target="_blank">{{data.uri}}</a></b></div>
					<div><span>Flow value:</span><b *ngIf="data.value">{{data.value}}f3/s</b><b *ngIf="!data.value">N/A</b></div>
					<div></div>
					<div><b>{{data.record}}</b></div>
					<div><span>Drainage area:</span><b *ngIf="data.drainagearea">{{data.drainagearea}} sqmiles</b><b *ngIf="!data.drainagearea">N/A</b></div>
				</div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>

    </div>
    <!-- Footer -->
    <div class="modal-buttons center">
      <button class="blue" (click)="activeModal.dismiss()">
        <span>Done</span>
      </button>
    </div>
  </div>
</div>
