<div class="modal-wrapper">
	<div class="modal-box">
		<!-- Header -->
		<div class="modal-top">
			<div class="title">About the Time of Travel application {{this.version}}</div>
			<div class="close-modal" (click)="activeModal.dismiss()">
				<i class="far fa-times"></i>
			</div>
		</div>
		<!-- Main content -->
		<div class="modal-middle">
			<p>The Time of Travel application estimates travel times and concentrations between a user-selected spill location and locations of downstream critical infrastructure, such as municipal water intakes based on a user-specified distance. Estimates of travel time are provided for the leading edge, peak, and trailing edge, and peak concentration will be provided under the most-probable velocity and the maximum-probable velocity of the spilled oil, assuming the flow is steady and the spill is instantaneously and completely mixed. Users are required to input the mass of the spilled contaminant and the decay rate to obtain estimates of concentrations. Users also are able to search the stream network upstream from a selected location and identify potential spill travel times within a specified distance. 

			<h4>Behind the scenes...</h4>
			<p>The Time of Travel application utilizes <a href="https://nhdplus.com/NHDPlus/" target="_blank">NHDPlus Version 2</a> for its data network and is built with <a href="https://angular.io/" target="_blank">Angular</a>, <a
				href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank">Assymetrik ngx-leaflet</a>, and <a
				href="https://ng-bootstrap.github.io/" target="_blank">Angular powered Bootstrap</a>.</p>
	  
			<p>This web application was developed by <a href="https://wim.usgs.gov" target="_blank">USGS Web Informatics and Mapping
			(WIM)</a> and the <a href="https://www.usgs.gov/centers/co-water" target="_blank">USGS Colorado Water Science Center</a> in cooperation with the <a href="https://www.doi.gov/oepc/inland-oil-spill-preparedness-program-iospp" target="_blank">Inland Oil Spill Preparedness Program (IOSPP)</a>.</p>
			
			<small>This web application has been made possible thanks to <a href="https://valor-software.com/ng2-charts/" target="_blank">ng2-charts</a></small>

		</div>
		<!-- Footer -->
		<div class="modal-buttons center">
			<button (click)="activeModal.dismiss()">Close </button>
		</div>
	</div>
</div>
