.modal-body p {
    padding-top: 15px;
}
.modal-title {
    color: #6e7490;
    padding-top: 0;
    font-size: 21px!important;
}
.modal-footer {    
    align-items: center;
    text-align: center;
    display: block;
}