
<header>
        <h3 class = 'Title'> USGS Time of Travel</h3>
    </header>

<!-- Side navigation -->
<div class="sidenav">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                MAP LAYERS
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                SELECT SPILL LOCATION
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            IDENTIFY POINT(S) OF INTEREST
          </mat-expansion-panel-header>

          You have zoomed in sufficiently to select a spill location or downstream point of interest.

          Choose an option below to select a trace method.



        </mat-expansion-panel>
        

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                BUILD A REPORT
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
        </mat-expansion-panel>
            
    </mat-accordion>

  </div>

<div class = "main">

  <div class="map-wrapper">
    <app-map> </app-map>
  </div>

           
</div>

    

    
            
            
