* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  
  .Title{
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Roboto';font-size: 24px;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  header {
    height:50px;
    line-height:20px;
    background: black;
  }

  .map-wrapper {
    width: 78%;
    height: 92%;
    float: right;
    margin-left: 350px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    padding:0px;
    left:0px;
    right:10px;
  }
  
  #map {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* The sidenav */
  .sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .Jobsons {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .Jobsons div:hover{
    color: black;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }


  .content{
    height:100vmax;
    width:100%;
    float:right;
    margin-top:10px;
    padding: 0;
  }

  /* Style page content */
  .main {
    margin-left: 350px; /* Same as the width of the sidebar */
    height: 70%;
    padding: 0px 10px;
  }

  .position-left {
    padding-left: 50px;
    padding-right: 10px;
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: 1;
  }
  #banner {
    display: table;
    width: 100%;
    background-color: black;
    padding-left: 1em;
    color: white;
    height: 2em;
    vertical-align: middle;
  }
  
  .right {
    float: right;
  }
  
  .gray {
    color: gray;
  }
  
  button {
    width: 300px;
  }
