.most-max-probable-toggle{
	display: flex;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	margin: 0 auto;
	justify-content: flex-end;
	margin-top: -35px;

	button{
		margin: 0;
		border-radius: 0;
		font-size: 12px;
		background-color: #f2f3f5;
		color: #253F60;
		padding: 8px 12px;
		border: 1px solid rgba(0,0,0,0.1);

		&:nth-child(1){
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			border-right: none;
		}
		&:last-child{
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			border-left: none;
		}

		&.active{
			background-color: #0652D6;
			color: white;

			&:hover{
				text-decoration: none;
				cursor: default;
			}
		}
	}
}

ng-select {
	text-align: center;
    text-align-last: center;
  > div {
    > div.single {
      > div.toggle {
        color: white !important;
        background: none;

        &:hover {
          background-color: #4389a9;
        }
      }

      > div.placeholder {
        color: white;
        font-size: 35px;
        font-family: MontserratRegular;
      }

      > div.clear {
        &:hover {
          background-color: #4389a9;
        }
      }
    }

    border: none !important;
  }
}

select-dropdown {
  display: none;
}

.dropdown-menu {
	margin-left: 30%;
}
