.most-max-probable-toggle{
	display: flex;
	width: 100%;
	padding-bottom: 10px;
	justify-content: space-between;

	.ng-select{
		flex-grow:3;
		max-width: 200px;
	}

	button{
		font-size: 12px;
		height: 30px;
		border-radius: 4px;
		margin-right: 10px;
		margin-top: 6px;
	}
}

ng-select {
  > div {
    > div.single {
      > div.toggle {
        color: white !important;
        background: none;

        &:hover {
          background-color: #4389a9;
        }
      }

      > div.placeholder {
        color: white;
        font-size: 35px;
        font-family: MontserratRegular;
      }

      > div.clear {
        &:hover {
          background-color: #4389a9;
        }
      }
    }

    border: none !important;
  }
}

select-dropdown {
  display: none;
}
