<div class="most-max-probable-toggle">
	<ng-select #selectGroup [items]="reachesGrouped"
						[disabled]="isDisabled"
						[virtualScroll]="true"
						bindLabel="label"
						bindValue="id"
						(change)="chartIsActive($event)"
					placeholder="Selected group"
					[(ngModel)]="selectedGroupId">
	</ng-select>
	
	<!-- Toggle max/min probable -->
	<button class="blue" (click)="open()">{{buttonName}}</button>
</div>



<div style="display: block;" *ngIf="mostLineChartData.length > 1 && showMost">
	<canvas baseChart width="600" height="400"
					[datasets]="mostLineChartData"
					[labels]="mostLineChartLabels"
					[options]="mostLineChartOptions"
					[colors]="lineChartColors"
					[legend]="lineChartLegend"
					[chartType]="lineChartType"
					[plugins]="lineChartPlugins"
					(chartHover)="chartHovered($event)"
					(chartClick)="chartClicked($event)"></canvas>
</div>

<div style="display: block;" *ngIf="mostLineChartData.length > 1 && showMax">
	<canvas baseChart width="600" height="400"
					[datasets]="maxLineChartData"
					[labels]="maxLineChartLabels"
					[options]="maxLineChartOptions"
					[colors]="lineChartColors"
					[legend]="lineChartLegend"
					[chartType]="lineChartType"
					[plugins]="lineChartPlugins"
					(chartHover)="chartHovered($event)"
					(chartClick)="chartClicked($event)"></canvas>
</div>
