.most-max-probable-toggle{
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 15px;

	button{
		margin: 0;
		padding: 6px 10px 6px 10px;
		border-radius: 0;
		font-size: 15px;

		&:nth-child(1){
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-child{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&.active{
			background-color: #0652D6;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

ng-select {
  > div {
    > div.single {
      > div.toggle {
        color: white !important;
        background: none;

        &:hover {
          background-color: #4389a9;
        }
      }

      > div.placeholder {
        color: white;
        font-size: 35px;
        font-family: MontserratRegular;
      }

      > div.clear {
        &:hover {
          background-color: #4389a9;
        }
      }
    }

    border: none !important;
  }
}

select-dropdown {
  display: none;
}
