#map {
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.map-wrapper {
  margin-left: 350px; /* Same as the width of the sidebar */
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.position-left {
  padding-left: 5px;
  padding-right: 100px;
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
}

.shadowtext {
  color: black;
  width: 100%;
  padding: 12px 12px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  font-family: 'Roboto';
  font-size: 13px;
  background-color: #DDDDDD;
}

.footer {
  color: black;
  width: 100%;
  padding: 5px 5px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto';
  font-size: 12px;
}

/* The sidenav */
.sidenav {
  height: 100%;
  width: 350px;
  z-index: 1;
  top: 20;
  left: 0;
  position: absolute;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 0px;
}

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

.Jobsons {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

  .Jobsons div:hover {
    color: black;
  }
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}


.content {
  height: 100vmax;
  width: 100%;
  float: right;
  margin-top: 10px;
  padding: 0;
}

/* Style page content */
.main {
  width: 100%;
  height: 100%;
}

#banner {
  display: table;
  width: 100%;
  background-color: black;
  padding-left: 1em;
  color: white;
  height: 2em;
  vertical-align: middle;
}

.right {
  float: right;
}

/*.gray {
  color: gray;
}
}*/
button {
  width: 100%;
}

.space {
  margin-bottom: 4px;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

#findbox {
  background: #eee;
  border-radius: .125em;
  border: 2px solid #1978cf;
  box-shadow: 0 0 8px #999;
  margin-bottom: 10px;
  padding: 2px 0;
  width: 250px;
  height: 26px;
}

.search {
  width: 100%;
}

.search-tooltip {
  width: 200px;
}

.leaflet-control-search .search-cancel {
  position: static;
  float: left;
  margin-left: -22px;
}
