<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-xs-12">
        <h4 class="modal-title pull-left">Configure units</h4>
      </div>
    </div>
    <div class="modal-body">

      <form form #myForm="ngForm">
        <div class="form-group" style="width:100%;">
          <div class="initial-input">
            <label>Select distance</label>
            <input [(ngModel)]="this.StudyService.distance" placeholder="value" name="Select distance"
                   type=number ngControl="distance" required autocomplete="off">
          </div>

          <div class="map-layer-check">
            <label>Select units</label> <!--add ngif condition-->
            <div *ngFor="let item of units; let i = index" class="map-layer">

              <label>
                <input type="radio" name="Units" (change)="setUnits(i);" [checked]="item.isactive" />
                {{item.name}} {{unit[i]}}
              </label>

            </div>
          </div>
          <br />
          <button class="pull-right" (click)="activeModal.dismiss('Cross click')">OK</button>
        </div>
      </form>
    </div>
    </div>
  </div>
