<div class="modal-wrapper">
	<div class="modal-box">
		<!-- Header -->
		<div class="modal-top">
			<div class="title">Configure units</div>
			<div class="close-modal" (click)="activeModal.dismiss()">
				<i class="far fa-times"></i>
			</div>
		</div>
		<!-- Main content -->
		<div class="modal-middle">
			<form form #myForm="ngForm" id="configForm">
				<!-- Select Distance -->
				<div class="modal-form-row">
					<label>
						Select distance
					</label>
					<div class="row-input">
						<input [(ngModel)]="this.StudyService.distance" placeholder="value" name="Select distance"
							type=number ngControl="distance" required autocomplete="off">
				 	</div>
				</div>
				<!-- Select Units -->
				<div class="modal-form-row">
					<label>
						Select units
					</label>
					<div class="row-input">
						<span *ngFor="let item of units; let i = index" class="modal-form-row">
							<input type="radio" id="configUnits{{i}}" name="Units" (change)="setUnits(i);" [checked]="item.isactive" />
							<label for="configUnits{{i}}">{{item.name}}</label>
						</span>
					</div>
				</div>
			</form>
		</div>
		<!-- Footer -->
		<div class="modal-buttons center">
			<button class="blue" (click)="activeModal.dismiss()">
				<span>Done</span>
			</button>
	  </div>
	</div>
</div>
