<div class="app-body">
	<tot-sidebar id="sidebarWrapper"></tot-sidebar>
	<div class="app-content">
		<tot-map class="full-map" id="mapWrapper" [report]="false"></tot-map><!--[modal]="false"-->
		<tot-footer class="footer"></tot-footer>

		<!-- Button to toggle map height -->
		<div id="mapHeightToggle" class="map-height-toggle">
			<button (click)="changeMapSize('full');">Full</button>
			<button (click)="changeMapSize('half');">Half</button>
			<button (click)="changeMapSize('small');">Small</button>
		</div>
	</div>
</div>