

.app-body{
	display: flex;
	flex-grow: 3;
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;

	// Sidebar
	// Sidebar
	// Sidebar
	tot-sidebar{
		height: 100%;
		width: 280px;
		min-width: 280px;
		max-width: 280px;

		// Only show on mobile
		@media (max-width: 768px) {
			position: fixed;
			left: -280px;
			top: 50px;
			z-index: 1050;
			background:
			white;
			box-shadow: 5px 10px 10px rgba(0,20,40,0.14);
			transition: all 0.25s ease;

			&.menu-visible{
				left: 0px;
				transition: all 0.25s ease;
			}
		}
	}

	// Main content
	// Map and data
	// Size can be toggled
	.app-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 3;
		width: 100%;
		position: relative;
		height: 100%;
		max-width: 90%;
		max-width: calc(100vw - 280px);

		// Full width on mobile
		@media (max-width: 768px) {
			max-width: 100vw;
		}

		// Map wrapper - set/change height here
		tot-map{
			height: 50%;
			overflow: hidden;
			width: 100%;
			max-height: 50%;

			// Classes to define height
			&.full-map{
				height: 100%;
				max-height: 100%;
				min-height: 100%;
			}
			&.half-map{
				height: 50%;
				max-height: 50%;
				min-height: 50%;
			}
			&.small-map{
				height: 26%;
				max-height: 26%;
				min-height: 26%;
			}
			&.report-map{
				height: 100%;
				max-height: 100%;
				min-height:100%;
			}
		}
		tot-footer{
			width: 100%;
			flex-grow: 3;
			display: flex;
			overflow: auto;
			max-width: 100%;
		}

		// Floating buttons to toggle map height
		#mapHeightToggle{
			position: absolute;
			height: 38px;
			background-color:transparent;
			width: 100%;
			z-index: 500;
			display: flex;
			justify-content: center;
			box-sizing: border-box;
			padding-top: 10px;
			top: -100px;
			transition: 0.2s;

			&.visible{
				top: 0px;
				transition: 0.2s;
			}
			
			button{
				margin: 0 5px;
				padding: 0px 10px
			}
		}
	}
}
