<div class="app-body">
	<tot-sidebar id="sidebarWrapper"></tot-sidebar>
	<div class="app-content">
		<tot-map class="full-map" id="mapWrapper" [report]="false"></tot-map><!--[modal]="false"-->
		<tot-footer class="footer"></tot-footer>

		<!-- Button to toggle map height -->
		<div id="mapHeightToggle" class="map-height-toggle">
			<button (click)="changeMapSize('small');"><i class="far fa-rectangle-wide"></i>Small Map</button>
			<button (click)="changeMapSize('half');"><i class="far fa-rectangle-landscape"></i>Half</button>
			<button (click)="changeMapSize('full');"><i class="far fa-rectangle-portrait"></i>Full Map</button>
		</div>
	</div>
</div>