#reportMap {
  height: 300px;
  width: auto;
  margin-bottom: 1em !important;
}

.leaflet-marker-icon {
  height: 50%;
  width: 50%;
}

#reportMap {
  height: 300px;
  width: 453px;
  margin-bottom: 1em !important;
}

.map_container {
  width: 453px;
  height: 320px;
}

.leaflet-pane.leaflet-map-pane {
  width: 100% !important;
  height: 100% !important;
}
.centeredHeader {
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.legend {
  margin-left: 20px;
  overflow: hidden;
  padding-left: 10px;
}

.legend-panel-content {
  box-sizing: border-box;
  padding-left: 15px;
  //padding-top: 10px;

  .wmm-circle,
  .wmm-diamond {
    position: relative;
    top: 2px;
    left: 6px;
  }
  .wmm-diamond {
    top: 5px;
  }
}

.legend {
  right: 10px;
  width: 200px;
  /*height:320px;*/
  color: black;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  //box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.87;
}

.legend-label {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  //display: block;
  //margin: 5px 0 1px 0;
  padding-top: 0;
}
.legend-hint {
  display: block;
  font-size: 11px;
  font-style: italic;
  opacity: 0.5;
  font-weight: 500;
  //margin: 1px 0 6px 0;
  line-height: 10px;
}

.legend-label {
  padding-top: 1em;
}

.legendIcon {
  display: inline-block;
}

#legendImage {
  margin: 10px;
}

.flyway-blue:after {
  background-color: rgba(0, 0, 255, 0.3);
  border: 3px solid blue;
}

.flyway-yellow:after {
  background-color: rgba(255, 255, 0, 0.3);
  border: 3px solid yellow;
}

.flyway-green:after {
  background-color: rgba(0, 255, 0, 0.3);
  border: 3px solid green;
}

.flyway-red:after {
  background-color: rgba(255, 238, 0, 0.3);
  border: 3px solid red;
}

.huc-icon:after {
  border: 3px solid #b57dcf;
}

.legend-label {
  padding-top: 1em;
}

.legend-icon {
  box-sizing: border-box;
  font-size: 12px;
}

.wmm-size-14 {
  height: 13px !important;
  width: 8px !important;
  margin-left: -7px !important;
}
.wmm-size-14:after {
  height: 10px !important;
  width: 10px !important;
}
.wmm-size-14.wmm-pin {
  margin-top: -8px !important;
}
.wmm-size-14.wmm-triangle {
  height: 0 !important;
  width: 0 !important;
  overflow: visible !important;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 16px solid white;
  top: -2px;
  left: -2px;
}
.wmm-size-14.wmm-triangle:after {
  content: "\25b2";
  background-color: transparent;
  font-size: 14px;
  font-family: sans-serif;
  position: relative;
  left: -7px;
  top: -1px;
}
.wmm-size-14.wmm-icon-circle:before {
  height: 5px;
  width: 5px;
  margin: 5px 0 0 5px;
}
.wmm-size-14.wmm-icon-square:before,
.wmm-size-14.wmm-icon-diamond:before {
  height: 5px;
  width: 5px;
  margin: 5px 0 0 5px;
}
.wmm-size-14.wmm-icon-triangle:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid white;
  margin-top: 3px;
  margin-left: 4px;
}

// customizing size of diamond because it was getting cut off in the print out
/* .wmm-size-14 {
    height: 16px !important;
    width: 12px !important;
    margin-left: -7px !important; }
    .wmm-size-14:after {
      height: 15px !important;
      width: 15px !important; }
    .wmm-size-14.wmm-pin {
      margin-top: -8px !important; }
    .wmm-size-14.wmm-triangle {
      height: 0 !important;
      width: 0 !important;
      overflow: visible !important;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 16px solid white;
      top: -2px;
      left: -2px; }
      .wmm-size-14.wmm-triangle:after {
        content: '\25b2';
        background-color: transparent;
        font-size: 14px;
        font-family: sans-serif;
        position: relative;
        left: -7px;
        top: -1px; }
    .wmm-size-14.wmm-icon-circle:before {
      height: 5px;
      width: 5px;
      margin: 5px 0 0 5px; }
    .wmm-size-14.wmm-icon-square:before, .wmm-size-14.wmm-icon-diamond:before {
      height: 5px;
      width: 5px;
      margin: 5px 0 0 5px; }
    .wmm-size-14.wmm-icon-triangle:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 7px solid white;
      margin-top: 3px;
      margin-left: 4px; } */
