:host * {
  padding: 0;
  right: 0px;
}

:host-context( .main ) * {
  height: 100vh;
  margin-top: 20px;
  margin-left: 360px;
  margin-bottom: 0px;
}

 :host-context( .report ) * {
  height: 100%;
  width:100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}  
