<div class="map-position leaflet-bottom leaflet-left">
    <span>Zoom Level: {{this.MapService.CurrentZoomLevel.value}}</span> <br />
    <span id="mapscale">Map Scale: 1:{{this.MapService.nominalZoomLevel.value}}</span> <br />
    <span>Lat: {{ MousePosition ? MousePosition.lat.toFixed(4) : "" }}, Lon: {{ MousePosition ? MousePosition.lng.toFixed(4) : "" }}</span>
</div>

<!-- Leaflet map element -->
<div *ngIf="!report" id="leaflet"
     leaflet
     [leafletOptions]="MapOptions"
     (leafletMapReady)="onMapReady($event)"
     [leafletLayers]="Layers"
     [leafletLayersControl]="LayersControl"
     (leafletZoomChange)="onZoomChange($event)"
	 [leafletFitBounds]="fitBounds"
     [leafletFitBoundsOptions]="{maxZoom: 13}"
	 (leafletClick)="onMouseClick($event)"
     (leafletMouseMove)="getLatLong($event)">

	 <div id="mapLoader" *ngIf="this.StudyService.checkingDelineatedPoint && !this.StudyService.hasError"></div>

</div>

 <!-- Report -->
<div *ngIf="report" class="map_container">
    <div id="reportMap"></div>
</div>
