<!--The content below is only a placeholder and can be replaced.-->
<div id="banner">
    <h3>{{ title }}</h3>
</div>
<br />
<!--<div float="right" id="searchWrapper">
  <div id="searchBox"></div>
  <button class="btn-link fullwidth" ng-click="vm.showSearchHelp = !vm.showSearchHelp">
    <span ng-show="!vm.showSearchHelp"><i class="fa fa-question-circle"></i> Help</span>
    <span ng-show="vm.showSearchHelp"><i class="fa fa-close"></i> Close Help</span>
  </button>

</div>-->
<div>
  <button mat-raised-button (click)="openDialog()">Jobsons</button>
  <app-leftbar></app-leftbar>

  <router-outlet></router-outlet>
</div>

