<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--<h1>
    {{ title }}
  </h1>-->
  <h4>Enter spill coordinates or select spill location on map</h4>
  <span class="fas fa-search gray"></span>&nbsp;
  <mat-form-field>
    <input matInput [(ngModel)]="location" placeholder="latitude, longitude">
  </mat-form-field>
  <br />
  <button mat-raised-button (click)="openDialog()">Enter additional spill information</button>
  <app-leftbar></app-leftbar>

  <router-outlet></router-outlet>
</div>

