<div *ngIf="!reachesReady" class="modal-wrapper">
	<div class="modal-box">		
		<i style="margin:auto;" class='far fa-sync fa-spin'></i>
	</div>
</div>

<div *ngIf="reachesReady" class="modal-wrapper">
	<div class="modal-box">		
		<!-- Header -->
		<div class="modal-top">
			<div class="title">Jobsons Results</div>
			<div class="close-modal" (click)="activeModal.dismiss()">
				<i class="far fa-times"></i>
				{{updateDischarge()}}
			</div>
		</div>
		<!-- Main content -->
		<div class="modal-middle">
	
			<form #myForm="ngForm">
				<!-- Time of Spill -->
				<div class="modal-form-row">
					<label>
						Time of Spill:
					</label>
					<div class="row-input ri-flex">
						<app-date-time-picker [(ngModel)]="dateModel" name="activeEndDate"></app-date-time-picker>
					</div>
				</div>
				<!-- Spill Mass -->
				<div class="modal-form-row">
					<label>
						Spill Mass
						<small>({{this.StudyService.defConcentration}}):</small>
					</label>
					<div class="row-input">
						<input [(ngModel)]="SpillMass" (ngModelChange)="setConc($event);validateInputs();" type=number required placeholder="Value" name="spillmass" class="up">
					</div>
				</div>
				<!-- Recovery Ratio -->
				<div class="modal-form-row">
					<label>
						Recovery Ratio
						<small>({{this.StudyService.defRecoveryRatio}}):</small>
					</label>
					<div class="row-input">
						<input [(ngModel)]="RecoveryRatio" (ngModelChange)="validateInputs();" type=number required placeholder="Enter a value" name="recoveryratio" class="form-control tight">
					</div>
				</div>
				<!-- Discharge -->
				<div class="modal-form-row">
					<label>
						Discharge
						<small>({{this.StudyService.defDischarge}}):</small>
					</label>
					<div class="row-input">
						<input [(ngModel)]="Discharge" (ngModelChange)="validateInputs();" type=number required placeholder="Choose gage from map or enter value" name="discharge" class="form-control tight">
					</div>
				</div>
				<!-- View Gages -->
				<div class="modal-form-row">
					<label></label>
					<div class="row-input">
						<button id="response" class="icon-button blue" [hidden]="!ShowGages" (click)="openGagesModal()" [ngClass]="{'waiting': ShowGages}">
							<i [ngClass]="!ShowGages ? 'far fa-sync fa-spin' : 'far fa-map-marker-alt'"></i>
							View nearby gages
						</button>
					</div>
				</div>
				<!-- Mean Annual Flow -->
				<div class="modal-form-row">
					<label></label>
					<div class="row-input">
						<small>(Mean annual flow of nearest reach: {{FirstReachDischarge}} {{this.StudyService.isMetric() === true ? 'cms' : 'cfs'}})</small>
					</div>
				</div>

				<div class="space20"></div>

				<!-- Dye Tracer Data -->
				<div *ngIf="HasDTData" class="modal-form-row">
					<div class="row-input">						
						<small style="float:right;">Use Dye Tracer Velocity Data?&nbsp;&nbsp;<input [(ngModel)]="UseDTData" type="checkbox" name="dtdata" class="form-control tight"></small>
					</div>
				</div>

				<!-- Add space between inputs and reaches -->
				<div class="space10"></div>

				<!-- Reaches -->
				<div class="toggle-header" (click)="showReaches = !showReaches">
					<div class="text">Reaches</div>
					<div class="icon">
						<i class="far" [ngClass]="showReaches ? 'fa-minus-circle' : 'fa-plus-circle'"></i>
					</div>
				</div>
				<!-- Map Layers Body -->
				<div class="toggle-block remove-bottom-border jobsons-toggles" [ngClass]="{'visible-extend': showReaches}">
					<div class="toggle-block-body">
						<div *ngFor="let item of reachList; let i = index; trackBy:identify" id="{{i}}">
							<!-- Nested -toggles -->
							<div class="toggle-header nested" (click)="openCloseItem(i)">
								<div class="text">
									<span>
										{{item.name}} <i [ngClass]="!item.parameters.show ? 'far fa-chevron-down' : 'far fa-chevron-up'"></i>
									</span>
								</div>
								<!--<div class="icon jobsons-delete" (click)="removeReach(i)">
			<i class="far" class="far fa-trash-alt"></i>
		</div>-->
							</div>

							<!-- Nested toggle body -->
							<div class="toggle-block" [ngClass]="{'visible': item.parameters.show}">

								<!--Name input-->
								<div *ngFor="let k of item | keyvalue;  let it1 = index; trackBy:customTrackBy">
									<div class="modal-form-row" *ngIf="k.key === 'name'">
										<label>
											{{getLabel(k.key)}}
										</label>
										<div class="row-input">
											<input [(ngModel)]="k.value" placeholder="Name" name="{{k.value}}" type="text" ngControl="value" ngMaxlength="25" autocomplete="off">
										</div>
									</div>
								</div>

								<!--Description input-->
								<div *ngFor="let k of item | keyvalue;  let it2 = index; trackBy:customTrackBy">
									<div class="modal-form-row" *ngIf="k.key === 'description'">
										<label>
											{{getLabel(k.key)}}
										</label>
										<div class="row-input">
											<input [(ngModel)]="k.value" placeholder="value" name="{{k.value}}" [ngModelOptions]="{standalone: true}" type="text" ngControl="value" ngMaxlength="50" autocomplete="off">
										</div>
									</div>
								</div>
								<!--Parameters input-->
								<div *ngFor="let pars of item.parameters;  let it3 = index; trackBy:customTrackBy" class="modal-form-row">
									<ng-container *ngIf="pars.name !== 'Recovery ratio'" style="margin:0px">
										<label>
											{{pars.name}}
											<small>({{pars.unit.unit}}):</small>
										</label>

										<div *ngIf="i === currentStep; else disable" class="row-input">
											<span *ngIf="pars.required === true">
												<input [(ngModel)]="item.parameters[it3].value" placeholder="value" name="{{pars.name}}"
															type=number ngControl="value" required autocomplete="off">
											</span>
											<span *ngIf="pars.required === false">
												<input [(ngModel)]='item.parameters[it3].value' placeholder="value" name="{{pars.name}}"
															type=number ngControl="value" autocomplete="off">
											</span>
										</div>

										<ng-template #disable>
											<span *ngIf="pars.required === true">
												<input [value]='item.parameters[it3].value' placeholder="value" name="{{pars.name}}"
															type=number ngControl="value" required autocomplete="off">
											</span>
											<span *ngIf="pars.required === false">
												<input [value]='item.parameters[it3].value' placeholder="value" name="{{pars.name}}"
															type=number ngControl="value" autocomplete="off">
											</span>
										</ng-template>
									</ng-container>
								</div>


							</div> <!-- End Nested toggle body-->

						</div>
					</div> <!-- End toggle block body -->
				</div>
			</form>

			</div>
			<!-- Footer -->
			<div class="modal-buttons space-around">
				<button *ngIf="mylist !== null" class="icon-button white" (click)="onClick_clear()">
					<i class="far fa-trash-alt"></i>
					<span>Clear</span>
				</button>
				<!-- Dye Tracer Data -->
				<!-- <div *ngIf="HasDTData" style="float:right; padding: 0; margin-right:0px;">
					<span>Use Dye Tracer Velocity Data?&nbsp;&nbsp;<input [(ngModel)]="UseDTData" type="checkbox" name="dtdata" class="form-control tight"></span>
				</div> -->
				<!-- end Dye Tracer Data -->
				<button [disabled]="validateInputs()" class="icon-button blue" (click)="setParameters(); getResults();">
					<i [ngClass]="gettingResults ? 'far fa-sync fa-spin' : 'fas fa-long-arrow-right'"></i>
					<span>{{ gettingResults ? 'Calculating' : 'Get Results' }}</span>
				</button>
			</div>
		</div>
		
	</div>


