.footer-wrapper{
	display: block;
	box-sizing: border-box;
	padding: 25px;

	width: 100%;
	max-width: 100%;
	overflow: auto;
}

// .table tr.active td {
//   background-color: #123456 !important;
//   color: white;
// }

// .grid-parent {
//   display: grid;
//   grid-template-columns: 1fr 1fr
// }
