// Footer.scss
// _______________________________________________
// 
// Bottom data view - graph, data tables, etc
// 

.footer-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 15px 25px 25px 25px;
  width: 100%;
  max-width: 100%;
  overflow: auto;

  .footer-data {
    display: flex;
	justify-content: space-around;
	margin-top: 15px;

    .footer-data-left {
      overflow: hidden;
      box-sizing: border-box;
      padding-right: 15px;
      flex-grow: 3;
      display: flex;
	  flex-direction: column;

	  h2{
		  margin: 0 0 6px 0;
	  }

      &.reverse {
        flex-direction: column-reverse;
      }

      .data-display {
        display: block;
        width: 100%;
		/*overflow: scroll;*/
		overflow: auto;

        .table-display {
          display: block;
          width: 100%;
          overflow: auto;
        }
      }
    }

    .footer-data-right {
      padding-left: 15px;
      box-sizing: border-box;
      overflow: hidden;
      min-width: 400px;
    }
  }
}



// table.fixed tbody {
//   display:block;
//   overflow:auto;
//   height:390px;
//   width:100%;
// }

table.fixed td th {
  width: 45px !important;
}

table.fixed td th {
  width: 45px !important;
}


// .table tr.active td {
//   background-color: #123456 !important;
//   color: white;
// }

// .grid-parent {
//   display: grid;
//   grid-template-columns: 1fr 1fr
// }
