.footer-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  max-width: 100%;
  overflow: auto;

  .footer-data {
    display: flex;
    justify-content: space-around;

    .footer-data-left {
      overflow: hidden;
      box-sizing: border-box;
      padding-top: 20px;
      padding-right: 15px;
      flex-grow: 3;
      display: flex;
      flex-direction: column;

      &.reverse {
        flex-direction: column-reverse;
      }

      .data-display {
        display: block;
        width: 100%;
        height: 400px;
        /*overflow: scroll;*/

        .table-display {
          display: block;
          width: 100%;
          overflow: hidden;
        }
      }
    }

    .footer-data-right {
      padding-left: 15px;
      box-sizing: border-box;
      overflow: hidden;
      min-width: 400px;
    }
  }
}

table {
  border-collapse: collapse;
  border: 1px solid #696969;
}

tr:hover {
  background-color: #44BEAE;
}

table td {
  border-right: solid 1px #696969;
  border-left: solid 1px #696969;
}

// table.fixed tbody {
//   display:block;
//   overflow:auto;
//   height:390px;
//   width:100%;
// }

table.fixed td th {
  width: 45px !important;
}

table.fixed td th {
  width: 45px !important;
}


// .table tr.active td {
//   background-color: #123456 !important;
//   color: white;
// }

// .grid-parent {
//   display: grid;
//   grid-template-columns: 1fr 1fr
// }
