<div class="sidebar">

	<!-- 
		Map Layers 
		Map Layers 
		Map Layers 
	-->
	<!-- Header -->
    <div class="toggle-header" (click)="showMapLayers = !showMapLayers">
		<div class="text">Map Layers</div>
		<div class="icon">
			<i class="far" [ngClass]="showMapLayers ? 'fa-minus-circle' : 'fa-plus-circle'"></i>
		</div>
    </div>
	<!-- Map Layers Body -->
    <div class="toggle-block" [ngClass]="{'visible': showMapLayers}">

		<div class="toggle-block-body">
			<!-- Base Maps -->
			<h3>Base Maps</h3>
			<div *ngFor="let item of baselayers" class="sidebar-toggle-row">
				<input *ngIf="item.visible; else disabled" type="radio" id="basemap{{item.name}}" name="mapLayer" (change)="SetBaselayer(item.name);" [checked]="item.name" />
				<ng-template #disabled>
					<input type="radio" id="basemap{{item.name}}" name="mapLayer" (change)="model.baselayers === item.name; SetBaselayer(item.name);" />
				</ng-template>
				<label for="basemap{{item.name}}">{{item.name}}</label>
			</div>
			<!-- Overlays -->
			<h3>Overlays</h3>
			<div *ngFor="let item of overlays" class="sidebar-toggle-row" [hidden]="ishiddenOverlay">
				<input *ngIf="item.visible; else disabled" id="overlay{{item.name}}" type="checkbox" name="options" (change)="model.overlays === item.name; SetOverlay(item.name);" [checked]="item.name" />
				<ng-template #disabled>
					<input type="checkbox" name="options" id="overlay{{item.name}}" (change)="model.overlays === item.name; SetOverlay(item.name);" [checked]="item.name === model.overlays" />
				</ng-template>
				<label for="overlay{{item.name}}">{{item.name}}</label>
			</div>
		</div>

	</div>
	<!-- End Map Layers -->

	<!-- 
		Identify Area 
		Identify Area 
		Identify Area 
	-->
	<!-- Header -->
    <div class="toggle-header" (click)="SetProcedureType(1)" [ngClass]="{'notoggle': SelectedProcedureType == 1}">
		<div class="text">Identify Area</div>
		<div class="icon">
			<i class="far" [ngClass]="this.StudyService.GetWorkFlow('hasReaches') ? 'fa-check-circle' : ''"></i>
		</div>
	</div>
    <div class="toggle-block" [ngClass]="{'visible': SelectedProcedureType == 1}">
		
		<div class="toggle-block-body">

			<!-- Steps -->
			<div *ngIf="ZoomLevel < 10">
				<h5>Step 1:</h5>
				<p>Use the map or the search tool below to identify an area of interest. At zoom level <b>10 or greater</b>, trace methods will be enabled.</p>
				<div class="sidebar-zoom-level">
					<span>Current Zoom Level:</span>
					<b>{{this.MapService.CurrentZoomLevel}}</b>
				</div>
			</div>
			<div *ngIf="ZoomLevel > 9">
				<h5>Step 2:</h5>
				<p>You have zoomed in sufficiently to select a trace method. Select an option below then click or tap a point on the map.</p>
			</div>

			<!-- Search box -->
			<div id="searchBox"></div>
			<!-- Search Help -->
			<button class="search-help-toggle" *ngIf="!showSearchHelp" (click)="showSearchHelp = true">
				<i class="far fa-question-circle"></i> 
				<span>Show Search Help</span>
			</button>
			<button class="search-help-toggle" *ngIf="showSearchHelp" (click)="showSearchHelp = false">
				<i class="far fa-times"></i> 
				<span>Hide Search Help</span>
			</button>
			<!-- Help body -->
			<div class="search-help" [ngClass]="{'visible': showSearchHelp}">
				<label cla>Supported search strings:</label>
				<div class="search-strings">
					<span>GNIS locations</span>
					<span>States</span>
					<span>Zip Codes</span>
					<span>Area Codes</span>
					<span>USGS Sites</span>
					<span>Street Address</span>
					<span>Hydrologic Unit</span>
					<span>Lat/Long ('43.9,-72.1' or '43.9N,72.1W')</span>
				</div>
				<small>
					Search provided by <a href="https://txpub.usgs.gov/dss/search_api/2.0/" target="_blank">USGS Search JavaScript API</a>
				</small>
			  </div>


			<!-- Methods -->
			<div id="methods">
				<!-- Start over -->
				<button class="red icon-button full-width" *ngIf="StudyService.GetWorkFlow('hasReaches')" (click)="reset()">
					<i class="far fa-undo"></i>
					Start Over
				</button>

				<button id="response" class="full-width icon-button" [disabled]="!StudyService.GetWorkFlow('reachedZoom')" (click)="SetMethodType('response')" [ngClass]="{'waiting': MapService.isClickable}">
					<i [ngClass]="StudyService.checkingDelineatedPoint && SelectedMethodType === 'response' ? 'far fa-sync fa-spin' : 'far fa-map-marker-alt'"></i>
					Spill Response
				</button>
				<button id="planning" class="full-width icon-button" [disabled]="!StudyService.GetWorkFlow('reachedZoom')" (click)="SetMethodType('planning')" [ngClass]="{'waiting': MapService.isClickable}">
					<i [ngClass]="StudyService.checkingDelineatedPoint && SelectedMethodType === 'planning' ? 'far fa-sync fa-spin' : 'far fa-map-marker-alt'"></i>
					Spill Planning
				</button>
				<button [disabled]="this.StudyService.GetWorkFlow('totResults')" id="equations" class="full-width" (click)="open_config()">Configure</button>
			  </div>
		
		</div>
		<!-- End identify area panel --> 

	</div>
	

	<!-- 
		Scenarios 
		Scenarios 
		Scenarios 
	-->
	<!-- Header -->

	<div class="toggle-header" (click)="SetProcedureType(2)" [ngClass]="{'notoggle': SelectedProcedureType == 2, 'blocked': !this.StudyService.GetWorkFlow('hasReaches')}">
		<div class="text">Scenarios</div>
		<div class="icon">
			<i class="far" class="far fa-check-circle"></i>
			<!-- <i class="far" [ngClass]="this.StudyService.selectedStudy || this.StudyService.GetWorkFlow('totResults') ? 'fa-check-circle' : ''"></i> -->
		</div>
	</div>
    <div class="toggle-block" [ngClass]="{'visible': SelectedProcedureType == 2}">
		<div class="toggle-block-body">

			<span *ngFor="let item of AvailableScenarioTypes">
				<div class="sidebar-toggle-row">
					<input type="checkbox" id="scenario{{item.name}}" name="scenario" [checked]="item.selected" (change)="ToggleScenario(item)"/>
					<label for="scenario{{item.name}}">{{item.name}}</label>
				</div>

				<div class="space10"></div>

				<button class="full-width blue" (click)="open(SelectedScenario)">Continue</button>
				
			</span>

		</div>
	</div>


	<!-- 
		Build Report 
		Build Report 
		Build Report 
	-->
	<!-- Header -->

	<div class="toggle-header" (click)="SetProcedureType(3)" [ngClass]="{'notoggle': SelectedProcedureType == 3, 'blocked': !this.StudyService.selectedStudy || !this.StudyService.GetWorkFlow('totResults')}">
		<div class="text">Build Report</div>
		<div class="icon">
			<i class="far" class="far fa-check-circle"></i>
			<!-- <i class="far" [ngClass]="this.StudyService.selectedStudy || this.StudyService.GetWorkFlow('totResults') ? 'fa-check-circle' : ''"></i> -->
		</div>
	</div>
    <div class="toggle-block no-bottom-border" [ngClass]="{'visible': SelectedProcedureType == 3}">
		<div class="toggle-block-body">

			<div *ngIf="!CanContinue">
				<h5>Step 1:</h5>
				<p>Select report components below.</p>
			</div>
			<div *ngIf="CanContinue">
				<h5>Step 2:</h5>
				<p>Click "Continue" to proceed.</p>
			</div>
			
			<span class="sidebar-toggle-row" *ngFor="let option of StudyService.ReportOptions; let i = index; trackBy:identify">
				<!-- <div class="sidebar-toggle-row">
					<input type="checkbox" id="option{{item.name}}" name="report" [checked]="option.checked" (change)="ToggleReportOptions(i)"/>
					<label for="option{{option.name}}">{{option.name}}</label>
				</div> -->
				<input type="checkbox" name="report" id="{{option.name}}Option" [checked]="option.checked" (change)="ToggleReportOptions(i)" />
				<label for="{{option.name}}Option">{{option.name}}</label>
			</span>

			<div class="space10"></div>

			<button class="full-width blue" (click)="open('Report')" [disabled]="!CanContinue">Continue</button>

		</div>
	</div>


</div> <!-- End Sidebar -->
