$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Variables
$borderRadius: 4px;
$transition: 0.2s;
$text: #0C141E;


// Styles specific to the sidebar
.sidebar{
	max-height: 100%;
	overflow: auto;
}
.sidebar .toggle-block{

	.toggle-block-body{

		p{
			font-size: 13.5px;
			line-height: 16px;
			padding-top: 0;
			margin-bottom: 0;
		}
		
		// Checkbox or radio (and label) wrapper/row
		.sidebar-toggle-row{
			margin: 4px 0;
			display: flex;
			
			label{
				padding-left: 10px;
				margin-bottom: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&:hover{
					cursor: pointer;
				}
			}
		}

		// Current Zoom Level
		// Current Zoom Level
		// Current Zoom Level
		.sidebar-zoom-level{
			display: flex;
			justify-content: flex-start;
			margin-bottom: 14px;

			span,b{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			span{
				font-size: 14px;
				letter-spacing: 0.3px;
			}
			b{
				font-size: 24px;
				font-weight: 700;
				margin-left: 6px;
				box-sizing: border-box;
				padding-bottom: 1px;
			}
		}

		// Search
		// Search
		// Search
		#searchBox{
			display: block;
			width: 100%;
		}
		.search-help-toggle{
			background-color: transparent;
			color: $text;
			opacity: 0.5;
			transition: $transition;
			text-align: center;
			display: block;
			width: 100%;
			text-align: center;
			font-size: 13px;
			font-weight: 600;

			i{
				margin-right: 5px;
			}

			&:hover{
				opacity: 1;
				transition: $transition;

				span{
					text-decoration: underline;
				}
			}
		}
		// Search help body
		.search-help{
			box-sizing: border-box;
			padding: 0 2px;
			background:#EEF0F3;
			border-radius: 10px;
			max-height: 0px;
			border: 0px solid transparent;
			transition: max-height 0.2s ease, border 0.1s ease 0.1s;
			overflow: hidden;

			&.visible{
				max-height: 320px;
				transition: max-height 0.2s ease, border 0s ease 0s;
				border: 1px solid #D9DDE4;
			}

			label{
				text-align: center;
				display: block;
				font-size: 14px;
				font-weight: 600;
				margin: 6px auto 5px auto;
			}

			.search-strings{
				display: flex;
				justify-content: center;
				width: 100%;
				flex-wrap: wrap;

				span{
					margin: 0px 0;
					font-size: 12.5px;
					font-weight: 500;
					font-family: monospace;
					border-radius: 5px;
					&:after{
						content: '\002022';
						display: inline-block;
						margin: 0 5px;
					}

					&:last-child:after{
						display: none;
					}
				}
			}

			// Provided by
			small{
				display: block;
				text-align: center;
				margin-bottom: 8px;
				font-size: 11px;
				margin-top: 6px;
			}
		}

		// Method Buttons
		#methods{
			padding-top: 5px;	
			button{
				margin-top:10px;
			}		
		}
	}
}







.sidebar-footer{
	display: block;
	margin-top: 15px;
	padding-bottom: 10px;

	.identification{
		display: block;
		font-size: 14px;
		font-weight: 600;
		text-align: center; 
		margin-bottom: 10px;

		img{
			height: 24px;
			width: auto;
		}
	}

	.sidebar-footer-links{
		text-align: center;
		font-size: 11px;
		line-height: 12px;

		a{
			color: var(--textLight);
			font-weight: 400;
			display: inline-block;
			margin: 3px;
		}
	}
}
