<div class="sidebar">
    <p>help me become the sidebar I was meant to be!</p>
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                MAP LAYERS
            </mat-expansion-panel-header>
        
            This the expansion 1 content
        
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                IDENTIFY AREA
            </mat-expansion-panel-header>
        
            <div *ngIf="SelectedProcedureType === 2">
                <button class="startover" mat-raised-button (click)="reset()"><span class="fas fa-undo"></span>&nbsp;&nbsp;Start Over</button>
                <br /><br />
            </div>

            <div *ngIf="step === 0">
                <div class="shadowtext">
                  <b>Step 1:</b> Use the map or the search tool below to identify an area of interest. At zoom level 10 or greater, trace methods will be enabled.
                </div>
              </div>
      
              <div *ngIf="step === 1 || step === 2">
                <div class="shadowtext"><b>Step 2:</b> You have zoomed in sufficiently to select a trace method. Select an option below then click or tap a point on the map.</div>
              </div>

              <div style="text-align: left">

                <mat-bar-button [options]="barButtonOptions_downstream"
                                (btnClick)="SetScenarioType('response')">
                </mat-bar-button>
      
                <mat-bar-button [options]="barButtonOptions_upstream"
                                (btnClick)="SetScenarioType('planning')">
                </mat-bar-button>
              </div>
        
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            IDENTIFY POINT(S) OF INTEREST
          </mat-expansion-panel-header>

          You have zoomed in sufficiently to select a spill location or downstream point of interest.

          Choose an option below to select a trace method.



        </mat-expansion-panel>
        

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                BUILD A REPORT
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
        </mat-expansion-panel>
            
    </mat-accordion> 

  </div>   
