.sidebar {
	height: 100%;
	width: 360px;
	position: fixed;
	/*z-index: 100;*/
	left: 0;
	background-color: white;
	overflow-x: hidden;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.shadowtext {
	color: black;
	width: 100%;
	padding: 12px 12px;
	margin-left: 0;
	margin-right: 0;
	font-family: 'Roboto';
	font-size: 13px;
	background-color: #DDDDDD;
}


/* Map Layers in Sidebar */
.map-layer{
  display: flex;
  margin-bottom: 0px;
}

.map-layer-check{
	display: flex;
	width: 24px;
	max-width: 24px;
	height: 24px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.map-layer-check input[type=checkbox]{
	appearance: checkbox;
	-webkit-appearance: checkbox;
	position: relative;
	top: -3px;
}

.map-layer-check input[type=radio]{
	appearance: radio;
	-webkit-appearance: radio;
	position: relative;
	top: -3px;
}

.map-layer-check input,
.map-layer-check input:focus,
.map-layer-check input:active,
.map-layer-check input:hover{
	border: none !important;
	outline: none !important;
	margin: 0 !important;
}

.map-layer-label{
  flex-grow: 3;
}

.map-layer-title {
  font-weight: normal;
}

#methods button {
	width: 100%;
	background-color: #0F8AFF;
  color: #FFF;
  margin: 1px 0px 1px 0px; 
  cursor: pointer;
}

#methods button:focus {
	width: 100%;
	background-color: #F46652;
	color: #FFF;
}

#methods button:disabled {
	width: 100%;
	background-color: #CCCCCC;
  color: #666666;
  cursor: default;
}

#continue button {
	width: 100%;
	background-color: #0F8AFF;
  color: #FFF;
  margin: 1em 0px 1px 0px; 
  cursor: pointer;
}
#continue button.gray {
  width: 100%;
	background-color: #CCCCCC;
  color: #666666;
  margin: 1em 0px 1px 0px; 
}

.button-wrapper {
  width:90%;
  margin:0em 1em 1em 1em;
}

 .pointerCursor {
  cursor: pointer;
} 

.list-group-item {
  background-color: #F3F4F5;
  text-align: right;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bold;
  box-sizing: border-box;
  padding: 18px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.25)!important;
  transition: 0.2s;
  cursor: pointer;
}

.list-group-item i {
  padding-left: 5px;
  display: inline-block;
  text-align: right;
  width: 50px;
}

/* .list-group-item:hover {
  color: #8c8c8c !important;
  transition: 0.2s;
} */

.dropdown-menu {
  max-height: 150px;
  width: 90%;
  /*overflow-y:scroll;*/
}

.list-group-item-maps {
  display: block;
  background-color: rgb(130, 194, 255);
  text-align: right;
  text-transform: uppercase;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #0F8AFF !important;
  transition: 0.2s;
  cursor: pointer;
}

.list-group-item-maps i {
  padding-left: 5px;
  display: inline-block;
  text-align: right;
  width: 50px;
  position: relative;
  top: 3px;
}

.list-group-item-active {
  display: block;
  background-color: #0F8AFF;
  text-align: right;
  text-transform: uppercase;
  font-size: 10pt;
  box-sizing: border-box;
  padding: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff !important;
  transition: 0.2s;
  cursor: pointer;
}


.list-group-item-active i {
  padding-left: 5px;
  display: inline-block;
  text-align: right;
  width: 50px;
  position: relative;
  top: 3px;
}

/* .list-group-item-active:hover {
  text-decoration: none !important;
  background-color: #0080d6;
} */

.exploration-tools {
  background-color: #99b3e6;
  color: white !important;
}

.sidebar-item .well {
  background-color: #F3F4F5 !important;
  border: 1px solid #E0E3E6 !important;
}

.sidebar-item .well .text-btn {
  background-color: transparent !important;
}

.sidebar-item [type=checkbox]:checked + label, [type=checkbox]:not(:checked) + label, [type=radio]:checked + label, [type=radio]:not(:checked) + label {
  padding-left: 25px !important;
}


/*
    Search Box
    Search Box
    Search Box
*/
#searchWrapper {
  box-sizing: border-box;
  padding: 0px 0px 0 0px;
}

#searchWrapper .btn-link {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.top {
  position:absolute;
  top:-10px;
  left:150px;
}


.search-api-container {
  display: flex;
  width: 100% !important;
  border: none !important;
  background-color: transparent !important;
}

.search-api-container span:nth-child(2) {
  display: block;
  flex-grow: 3 !important;
  width: 100% !important;
}

:host /deep/ .search-api-container, .search-api-container * {
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 90% !important;
}

.search-api-container input {
  display: block;
  width: auto !important;
  margin: 0 !important;
}

.search-api-icon {
  background-color: transparent !important;
  border-right: none !important;
  padding-top: 6px;
  padding-right: 10px !important;
  width: 40px;
}
.search-api-spinner {
  padding: 2px 0 0 0 !important;
  text-align: right;
  margin-left: 10px;
  background-image: url("/assets/images/spinner_16x16.gif");
}

.search-api-spinner-hidden {
  background-image: none;
}

.startover {
  background-color:red;
  color:white;
  width: 100%;
  cursor: pointer;
}

.startover_wrapper {
  margin: 4px 2px 4px 2px;
}

.boundingbox {
  border-style: solid;
  border-color: #CCCCCC;
  border-width: thin;
  background: rgba(224,227,230,0.4);
  padding: 8px;  
  margin: 8px;
  border-radius: 5px;
  color: #333333;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.bold {
  font-weight: bold;
}