<div class="modal-header">
  <h4>Jobsons Travel Time Prediction</h4>
</div>

<div class="modal-body">
  <div style="width:49%; float:left;">
    <label>Initial concentration:</label><br />
    <input [(ngModel)]="ini_mass" type=number required placeholder="value" name="inimass" autocomplete="off">
    <app-contents [ini_mass]="ini_mass"></app-contents><br />
  </div>

  <div style="width:49%; float:right;">
    <label>Initial time:</label><br />
    <input [(ngModel)]="ini_time" type=number required placeholder="value" name="initime" autocomplete="off">
    <app-contents [ini_time]="ini_time"></app-contents><br />
  </div>
  <!--{{checkList()}}-->
  <button class="btn-blue main" (click)="onClick_addReach()"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Reach</button>
  <br /><br />
  <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of mylist" cdkDrag>{{item}}</div>
  </div>Implemented Object rearrangement-->

  <div id="panel-group">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let item of mylist; let i = index">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0 title">{{item.name}}</button>
            <div>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="onClick_removeReach(i)">Remove</button>
            </div>
          </div>
        </ng-template>

        <!--Name input-->
        <ng-template ngbPanelContent>
          <div *ngFor="let k of item | keyvalue;  let i = index; trackBy:customTrackBy">
            <div *ngIf="k.key === 'name'">
              <label>{{k.key}}</label>
              <div>
                <input [(ngModel)]="k.value" placeholder="value" name="name"
                       type="text" ngControl="value" ngMaxlength="25"
                       [(ngModel)]='item.name' autocomplete="off">
              </div>
            </div>
          </div>
          <!--Description input-->
          <div *ngFor="let k of item | keyvalue; let i = index; trackBy:customTrackBy">
            <div *ngIf="k.key === 'description'">
              <label>{{k.key}}</label>
              <div>
                <input [(ngModel)]="k.value" placeholder="value" name="value"
                       type="text" ngControl="value" ngMaxlength="50"
                       [(ngModel)]='item.description' autocomplete="off">
              </div>
            </div>
          </div>
          <!--Parameters input-->
          <div *ngFor="let pars of item.parameters;  let i = index; trackBy:customTrackBy">
            <label>{{pars.name}} ({{pars.unit.unit}}):</label>
            <div *ngIf="pars.required === true">
              <input [(ngModel)]="pars.value" placeholder="value" name="value"
                     type=number ngControl="value" required
                     [(ngModel)]='item.parameters[i].value' autocomplete="off">
            </div>
            <div *ngIf="pars.required === false">
              <input [(ngModel)]="pars.value" placeholder="value" name="value"
                     type=number ngControl="value"
                     [(ngModel)]='item.parameters[i].value' autocomplete="off">
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <br />
    <button *ngIf="mylist !== null" class="btn-red main" (click)="onClick_clear()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Clear All</button>
    <button *ngIf="mylist !== null" class="btn-blue mainR" (click)="onClick_uiResult()"><i class="fa fa-check"></i>&nbsp;&nbsp;Continue</button>

    <!--Will move this to new Results modal-->
    <div *ngIf="showResult === true">
      <br /><br />
      <div *ngFor="let element of output">
        <div *ngFor="let v of element | keyvalue">
          <div *ngIf="v.key === 'reaches'">
            <div *ngFor="let reach of v.value | keyvalue">
              <div *ngIf="reach.key !== '0'">
                <h4>Reach {{reach.key}}</h4>
                <div *ngFor="let items of reach.value | keyvalue">
                  <div *ngIf="items.key === 'result'">
                    <div *ngFor="let edge of items.value | keyvalue">
                      <label>{{edge.key}}</label>
                      <blockquote style="border-left: 3px solid #ccc;">
                        <div *ngFor="let prob of edge.value | keyvalue">
                          <label>{{prob.key}}</label>
                          <div *ngFor="let p of prob.value | keyvalue">
                            <!--<div *ngFor="let s of p.value | keyvalue">-->
                            <table>
                              <tr>
                                <td>{{p.key}}:</td>
                                <td>&nbsp;&nbsp;{{p.value}}</td>
                              </tr>
                            </table>
                            <!--</div>-->
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
