.myTitle {
  color: #478fca;
  font-weight: 200;
  background-color: #F9F9F9;
}

.ng-invalid[required] {
  border: 1px solid orange;
}

/*.ng-valid {
  border: 1px solid #42A948; 
}*/ /* green */

.remove_bt {
  flex: 1 1 auto;
}

#buttonrow button {
  padding-left:2em;
  padding-right:2em;
  width: 100px;
}

button.btn-gray {
  background-color: #808080;
  color: #FFF;
}

button.middle {
  align-self:center;
}

button.title {
  text-decoration-line: unset;
}

.center {
  text-align: center;
}

.btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: inline-block;
}

.btn-main {
  margin-left: 5px;
  width:120px;
}

.btn-results {
  margin-left: 5px;
  width: 200px;
}

.loading {
  margin: 0 auto;
  zoom: 0.5;
  stroke: #0F8AFF;
}

.load-wrapper {
  height: 100%;
  min-height: 100%;
}

table.small {
  font-size: xx-small;
}

td, th {
  padding-left: 10px;
}

.input-with-icon {
  /* causes absolute icon div to be positioned correctly */
  position: relative;
  /*width: 25rem;*/
  height: 3.2rem;
  box-sizing: border-box;
}

  .input-with-icon .form-control {
    /*height: 100%;*/
    width: 100%;
    padding-right: 3.65rem;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  .input-with-icon .icon {
    position: absolute;
    /* These are set relative to the height of the input box to bound the box neatly inside. This is aesthetic to me but you may change the dimensions of course. */
    right: -0.1rem;
    top: 1.6rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    /* content in the icon div is centered, without bootstrap or font-awesome you may wish to add your own text in the span */
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-sizing: border-box;*/
  }

/* 
 BELOW PROPERTIES AREN'T CRITICAL FOR DESIRED BEHAVIOUR.
 THEY ARE PURELY FOR DEMONSTRATION PURPOSES
*/
/*.input-with-icon {
  margin: 0.8rem;
}*/

  .input-with-icon .form-control {
    /*padding-left: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;*/
    font-family: 'Open Sans',Helvetica,sans-serif;
    font-size: 14px;
  }

  /*.input-with-icon .icon {
    border: 1px solid black;
  }*/

  .initial-input {
    clear:both;
    margin-bottom:1em;
  }

input {
    margin-top:0px;
  }

#scroll {
  overflow: scroll;
  height:40%;
  max-height:250px;
}
