.myTitle {
  color: #478fca;
  font-weight: 200;
  background-color: #F9F9F9;
}
.ng-invalid[required] {
  border: 1px solid orange;
}

/*.ng-valid {
  border: 1px solid #42A948; 
}*//* green */

.remove_bt {
  flex: 1 1 auto;
}

button.main {
  width: 200px;
}

button.mainR {
  width:200px;
  float:right;
}

button.title {
  text-decoration-line:unset;
}
