.myTitle {
  color: #478fca;
  font-weight: 200;
  background-color: #F9F9F9;
}
.ng-invalid[required] {
  border: 1px solid red;
}

.ng-valid {
  border: 1px solid #42A948; /* green */
}

.remove_bt {
  flex: 1 1 auto;
}
