<div class="input-group mr-2">
  <input [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'" class="form-control" (blur)="inputBlur($event)" [ngModel]="dateString | date:inputDatetimeFormat" (ngModelChange) = "onInputChange($event)" [disabled]='disabled' />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" [ngbPopover]="calendarContent" [disabled]='disabled' type="button">
      <i class="fa fa-calendar"></i>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    <div *ngIf="!showTimePickerToggle">
      <ngb-datepicker #dp name="datepicker" [(ngModel)]="model" (ngModelChange)="onDateChange($event)" style="background: white;"> </ngb-datepicker>
      <button class="btn btn-block btn-outline-secondary" type="button" (click)="toggleDateTimeState($event)">
        <i class="far fa-clock"> </i>
        Time
      </button>
    </div>
    <div *ngIf="showTimePickerToggle">
      <button class="btn btn-block btn-outline-secondary" [ngbPopover]="calendarContent" type="button" (click)="toggleDateTimeState($event)">
        <i class="fa fa-calendar"> </i>
        Calendar
      </button>
      <div class="mt-auto">
        <ngb-timepicker [(ngModel)]="time" [seconds]="seconds" (ngModelChange)="onTimeChange($event)"></ngb-timepicker>
      </div>
    </div>
  </div>
</ng-template>
