.main-map{
	position: relative !important;
}
.map-position{
	position: absolute !important;
	bottom: 0 !important;
	z-index: 401 !important;
}








#gageList{
	display: flex;
	flex-direction: column;
}
.active-gage{
	order: -10;
}
.inactive-gage{
	order: 100;
}

.inactive-gage .gage-modal-list .card .card-header button{
	background-color: rgba(0,0,0,0.05) !important;
	color: rgba(0,0,0,0.35) !important;
}


sup{
	line-height: 8px !important;
}


// Toast Adjustments
.toast-container * {
	font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}
body.small-toast-map .toast-container{
	top: 28%;
	bottom: unset !important;
	top: calc(26% - 50px);
}
body.half-toast-map .toast-container{
	top: 50;
	bottom: unset !important;
	top: calc(50% - 50px);
}



